Source: ros-indigo-qglv-pcl
Section: misc
Priority: extra
Maintainer: Daniel Stonier <stonier@yujinrobot.com>
Build-Depends: debhelper (>= 9.0.0), libpcl-1.7-all-dev, ros-indigo-catkin, ros-indigo-cmake-modules, ros-indigo-ecl-build, ros-indigo-qglv-opengl
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-qglv-pcl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpcl-1.7-all, libpcl-1.7-all-dev, ros-indigo-ecl-build, ros-indigo-qglv-opengl
Description: OpenGL, PCL, ...
